#home{
    max-width: 1320px;
    margin: 0 auto;
}

header{
    background-color: #E8EFF5;
    display: flex;
}

ul{
    list-style: none;
}

.banner{
    background-image: url(../image/bgbanner.png);
}

